{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
<div class="Login-Container">
  <form method="POST" class="Login-Form">
    <h3 align="center">Login</h3>
    <div class="form-group">
      <div class="wave-group">
        <input required="" type="text" class="input" name="email" id="email" />
        <span class="bar"></span>
        <label class="label">Email</label>
      </div>
    </div>
    <div class="form-group">
      <div class="wave-group">
        <input
          required=""
          type="password"
          class="input"
          name="password"
          id="passwordField"
        />
        <span class="bar"></span>
        <label class="label">Password</label>
      </div>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
{% endblock %}
